body {
  background-color: bisque;
}

/* Custom css to new burger menu */
.header-nav-item,
.header-nav-item-active {
  font-size: 1.6rem;
  opacity: 0;
  padding: 1.0rem .8rem;
  text-decoration: none;
  color: #081b33;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .08em;
  line-height: 1.6rem;
  transition: left 0ms linear 100ms;
}

.header-nav-item:active,
.header-nav-item-active {
  color: #07a8f2;
  font-weight: 700;
  text-decoration: none;
}

.header-nav-item:hover {
  color: #07a8f2;
  text-decoration: none;
}

/* This will hide the desktop burger on mobile devices*/
@media (orientation: landscape) {
  .site-container {
    margin-top: 0 !important;
  }
}

@media (min-width: 768px) {
  .primary-nav-wrapper {
    display: none;
  }
}
@media (max-width: 767px) {
  .mobile-secondary-nav-links .folder {
    display:none;
  }
}
.site-outer-padding-large .site-header {
    padding-right: 2vw;
}

.mobile-primary-nav-links {
  text-transform: inherit;
}

@media only screen and (max-width: 768px) {
  .mobile-bar-wrapper {
    flex-direction: row-reverse;
  }
  .mobile-nav-toggle-label .Icon--hamburger {
    stroke: #07a8f2;
	}
  .mobile-primary-nav-links .folder-link a {
    font-weight: 400;
    font-size: 1.6rem;
  }
  .mobile-primary-nav-links .folder-link.active .nav-item-page,
  .mobile-primary-nav-links .folder-link .nav-item-page:hover {
    color: #07a8f2;
  }
  .mobile-primary-nav-links .folder-link.active .nav-item-page {
    font-weight: 700;
  }
}
