/* Custom css to new burger menu */
.header-nav-item,
.header-nav-item-active {
  font-size: 4vmin;
  opacity: 0;
  padding: 1.2rem .8rem;
  text-decoration: none;
  color: #081b33;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .08em;
  line-height: 1.6rem;
  text-transform: uppercase;
  transition: left 0ms linear 100ms;
}

.header-nav-item:hover,
.header-nav-item:active,
.header-nav-item-active {
  color: #07a8f2;
}

/* This will hide the desktop burger on mobile devices*/
@media (min-width: 768px) {
  .primary-nav-wrapper {
    display: none;
  }
  .header-nav-item {
    font-size: 3vmin !important;
  }
}

@media (max-width: 767px) {
  .mobile-secondary-nav-links .folder {
    display:none;
  }
}